<div *ngIf="!loading" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-blue-600">Videos</span>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5" *ngFor="let video of videos" (click)="onClickVideo(video)">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px; cursor: pointer;">
                <img [src]="getYoutubeThumbnail(video.url!)" alt="Image" height="50" class="mb-3" >
            </span>
            <div class="text-900 text-xl mb-3 font-medium">{{video.video_name}}</div>
        </div>
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center" *ngIf="loading">
    <p-progressSpinner  ariaLabel="loading"></p-progressSpinner>
</div>

<p-dialog [header]="selectedVideo?.video_name" [(visible)]="showVideoModal" [style]="{width: '75vw' , height: '75vh'}" [maximizable]="true">
    <iframe width="100%" height="100%" [src]="getEmbeddedVideoUrl(selectedVideo?.url!)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p-dialog>
