<form [formGroup]="registerForm" (ngSubmit)="onRegister()" autocomplete="off" class="p-fluid">
    <div class="formgrid grid">
        <div class="field col-12">
            <label for="nombreCompleto">Nombre Completo *</label>
            <input id="nombreCompleto" formControlName="full_name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="pin">PIN *</label>
            <input id="pin" formControlName="pin" type="number" minlength="6" maxlength="6" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="edad">Edad</label>
            <input id="edad" formControlName="age" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="avatar">Avatar</label>
            <input id="avatar" formControlName="avatar" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <button type="submit" pButton pRipple label="Registrarse" icon="pi pi-user-plus" class="w-full my-2"></button>
    </div>
</form>
