<form [formGroup]="editForm" (ngSubmit)="onEdit()" autocomplete="off" class="p-fluid">
    <div class="formgrid grid">
        <div class="field col-12">
            <p-button [icon]="'pi pi-arrow-left'" [size]="'small'" (onClick) = "onClickBack($event)"></p-button>
        </div>
        <div class="field col-12">
            <label for="nombreVideo">Nombre del video *</label>
            <input id="nombreVideo" formControlName="video_name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="url">url *</label>
            <input id="url" formControlName="url" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <button type="submit" pButton pRipple label="Guardar" icon="pi pi-user-plus" class="w-full my-2"></button>
        <p-button [icon]="'pi pi-trash'" severity="danger" pRipple label="Eliminar" class="w-full" (onClick) = "onDelete($event)"></p-button>
    </div>
</form>